@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(95, 32%, 61%);
  --primary-color-darker: hsl(95, 32%, 41%);
  --secondary: #f3cd03;
  --text-color: #252b42;
  --second-text-color: #737373;
  --danger-color: #e74040;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.custom-btn {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/* Header */
header {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem 0;
}
nav .nav-wrapper {
  display: flex;
  align-items: center;
}

nav .nav-wrapper .logo {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  color: var(--text-color);
  margin-right: 5.1875rem;
}

nav .nav-wrapper ul {
  display: flex;
  gap: 1.3125rem;
}
nav .nav-wrapper ul li {
  list-style: none;
}

nav .nav-wrapper ul li a,
nav .login,
nav .signup {
  color: var(--second-text-color);
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.5rem;
  transition: color 0.3s ease-in-out;
}

nav .nav-wrapper ul li a:hover {
  color: var(--text-color);
}

nav div:last-child {
  display: flex;
  gap: 2.8125rem;
  align-items: center;
}

nav .login {
  color: var(--primary-color);
  letter-spacing: 0.2px;
  cursor: pointer;
}

nav .signup {
  background: var(--primary-color);

  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.9375rem 1.5625rem;
  gap: 0.9375rem;
  border-radius: 5px;
  transition: background 0.1s ease-in-out;
  margin-right: 5.1875rem;
}

nav .signup:hover,
.hero-info .cta-buttons button:first-child:hover {
  background: var(--primary-color-darker);
}

/* Hero */
.curved-rectangle-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 49%;
  height: 543.79px;
  background: #f7faff;
  border-bottom-left-radius: 150px;
}

.curved-rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 70%;
  height: 617px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background: #eff8ed;
}

#hero {
  position: relative;
}

#hero .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#hero .container .hero-img {
  position: absolute;
  top: -20px;
  right: -120px;
  width: 626px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  margin-top: 5rem;
}

.hero-info h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
  color: var(--primary-color);
}

.hero-info h1 {
  font-size: 3.625rem;
  line-height: 5rem;
  letter-spacing: 0.2px;
  color: var(--text-color);
}
.hero-info h4 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}

.hero-info .cta-buttons {
  display: flex;
  gap: 0.625rem;
}

.hero-info .cta-buttons button {
  padding: 0.9375rem 2.5rem;
  border-radius: 5px;
  letter-spacing: 0.2px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  transition: all 0.1s ease-in-out;
}
.hero-info .cta-buttons button:first-child {
  background: var(--primary-color);
  color: #ffffff;
}
.hero-info .cta-buttons button:last-child {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.hero-info .cta-buttons button:last-child:hover {
  border: 1px solid var(--primary-color-darker);
  color: var(--primary-color-darker);
}

#hero .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  margin-top: 5rem;
}

#hero .features > div {
  display: flex;
  flex-direction: column;
  padding: 2.1875rem 2.5rem;
  gap: 1.25rem;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

#hero .features > div img {
  width: 4.5rem;
}

#hero .features > div h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

#hero .features > div div {
  height: 2px;
  background: var(--danger-color);
  width: 3.125rem;
}

#hero .features > div p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  /* second-text-color */
  color: var(--second-text-color);
}
